# IDEs
.idea/
.vs/
.vscode/
.zed/
CMakeSettings.json
*.user

# Project exclude paths
build/
cmake-build-*/
out/

# Generated
**/generated/

# Flatpak
.flatpak-builder/
build-dir/
repo/

.DS_Store
.cache
