# IDEs
.idea/
.vs/
.vscode/
CMakeSettings.json

# Project exclude paths
build/
cmake-build-*/
out/

# CSharp
/src/lib/lang/csharp/**/bin
/src/lib/lang/csharp/**/obj
/src/lib/lang/csharp/**/TestResults

# Generated
generated/
/include/vpkedit/Version.h
/include/vpkeditc/Version.h
/src/lib/lang/csharp/libvpkedit/libvpkedit.csproj
